body {
    background: linear-gradient(to right, rgba(95, 0, 190), black, rgb(95, 0, 190));
    margin: 0;
}

.header {
    background: linear-gradient(to right, purple, rgb(76, 1, 77));
}

.header h1 {
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 25px;
    font-size: 50px;
}

.header p {
    color: white;
    text-align: center;
    font-size: 25px;
}

.menu {
    padding: 0;
    background: rgb(93, 51, 101);
    width: 90%;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.games {
    display: flex;
    background-color: #2b2b2b;
    color: white;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;

}

.games h3 {
    margin: 10px 0;
    color: white;
}

.games p {
    font-size: 14px;
    line-height: 1.5;
    color: #d3d3d3;
}

.games img {
    display: flex;
    justify-content: center;
    width: 120px;
    border-radius: 15px;
    margin-bottom: 10px;

}

.background-container {
    background-color: white;
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    padding: 50px 0;
    border-radius: 25px;
}

.games a {
    color: white;
}

.chart {
    background-color: blue;
    width: 20%;
    max-width: 200px;
    margin: 10px auto;
    padding: 10px 0;
    border-radius: 50px;
}

.chart-0 {
    background-color: white;
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    padding: 50px 0;
    border-radius: 25px;
    display: flex;
    gap: 20px;
}

.img-games img {
    width: 200px;
    border-radius: 25px;
}

.boton {
    display: block;
    margin: 20px auto;
    width: 60%;
    padding: 15px;
    background: #4CAF50;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
}

.text {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}